*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 93.75%;
}
body {
    background-color: #121214;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

a {
text-decoration: none;
}
  

header {
    background: #5429CC;
    padding: 1rem;
}

header h2{
    font-weight: 200;
    color: white;
}

main {
    padding: 2rem 1rem;
}

.cadProduct input{
    width: 100%;
    padding: 1rem 0.8rem;
    color: #a8a8b3;
    background-color: #202024;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.cadProduct input::placeholder{
    color: white;
}

.cadProduct input[type=submit]{
    background-color: #8257e6;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
}

.cadProduct input[type=submit]:hover{
    background-color: #9466ff;
}

.listProduct {
    margin: 2rem 0;

}

.listProductSingle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #a8a8b3;
}

.listProductSingle h3{
    color: #e1e1e6;
    font-weight: 400;
    font-size: 1rem;
}

.listProductSingle span{
    color: #04d361;
    font-weight: 300;
    font-size: 1rem;
}

.total h3{
    color: #e1e1e6;
    font-weight: 200;
    font-size: 3rem;
    margin: 4rem 0;
}
@media (min-width: 768px) {
    .cadProduct {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cadProduct input{
        width: 33.3%;
        margin: 0.5rem;
    }
}